@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {background: #0F1012;}
.main_wrapper {
	width: 1000px;
	height: auto;
	margin: auto;
}
.header_wrapper {
        width: 1000px;
	height: 200px;
	background: #302425;
        
}
 
#navbar{
	width: 1000px;
	height: 50px;
	background:#0D1011;
	color: beige;
	}


#menu {
	padding: 0;
	line-height: 36px;
	margin-top: 5px;
	float: left;
	
}
#menu li {
	list-style: none;
	display: inline;
}
#menu a {
	color: azure;
	text-decoration: none;
	font-size: 20px;
	margin: 5px;
	padding: 10px;
}
#menu a:hover {
	text-decoration: underline;
	color:aqua;
	font-weight: bolder;
	
}
#form {float:right; line-height: 50px; padding-right: 5px;}




.content_wrapper{
	width: 1000px;
	height: auto;
	background-color:#8FCFD9;
	
}
#right_content {
	width: 800px;
	background:#888888;
	float: left;
}
#left_sidebar {
	width: 200px;
	background:#4C82A0;
	float: right;
	border-left: 2px solid #FFF
}
.footer {
	width: 1000px;
	height: 100px;
	background: #999;
	color: #FFF;
	clear: both;
}

#sidebar_title {
	background-color:#BBE3D6;
	color: #000000;
	padding: 10px;
	font-size: 22px;
	font-family: Baskerville, 'Palatino Linotype', Palatino, 'Century Schoolbook L', 'Times New Roman', 'serif';
}
 
#cats {
	color:aqua;
	text-align: left;
	padding: 10px;
	
}
#cats li {list-style: none; margin: 8px; padding: 4px;}
#cats a {color: aliceblue; font-size: 18px; text-decoration:none; margin: 5px;}
#cats a:hover {color:aqua; text-decoration: underline; font-weight: bold;}
#cats img{border: 2px solid #FFF;}



#headline {background: #222F30; color: aquamarine; float: right; height: 30px; width: 790px; padding: 5px; }
#headline_content {float: right;}


#product_box {
	width: 780px;
	padding: 10px;
	margin-right: 10px;
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}

#single_product{float: left; padding: 10px;}
#single_product img{border: 2px solid #000000;}








 